$span: #0f467d;
$white: #ffffff;
$black: #010101;
$yellow: #feca0b;
$dark-blue: #11467d;
$light-blue: #0193d4;
$red: #e43345;
$light-grey: #c0c0c0;
$dark-grey: #797879;
$brown: #50441c;
$peach: #e3936c; 
